<div style="height:20px">

</div>

<p class="beautifulFont" style="text-align:left">
    <img src="~/Images/happy-face.jpg" style="width:8%; height:8%" />
    Follow someone and you'll see them here!
</p>
